:root {
    --navbar-height: 80px;
    --bullet-item-color: black; 
    --box-pane-color: #5370E1;
    ; 
}
html {
  scroll-behavior: smooth;
}
.bullet-item {
    position: relative;
    padding-left: 20px; 
  }
  
.bullet-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--bullet-item-color);
    border-radius: 50%;
}

  
.box-pane {
    position: relative;
  }
  
.box-pane::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 32px;
    /* transform: translateY(-50%); */
    width: 8px;
    height: 82px;
    background-color: var(--box-pane-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.waiting-list-border .border-default-200 {
  border-color: black !important;
}
.waiting-list-border .border-medium {
  border-width: 1px !important;
}